/* #mainContainer { 
    text-align: center;
    min-height: 500px;
    margin: 0 auto;
}



.ingredientDiv {
    position: absolute;
    margin: 0 auto;
    border: 1px red solid;
}

#displayDiv {
    position: relative;
    min-height: 500px;
    overflow: visible;
    margin: 0 auto;
    border: 1px red solid;
    width: 400px;
}




#burgersContainer {
    margin: 0 auto;
}

*/

#topOfPage {
    text-align: center;
}


.ingredientImage {
    width: 400px;
    /* border: 1px black solid; */
    margin-bottom: -200px;
    /* transform: translateY(-10px) */
}

body {
    background-color: paleturquoise;
}

ul {
    list-style: none;
}

.displayImage {
    width: 400px;
}

#mainContainer {
    margin: 0 auto;
    /* border: 1px green solid; */
    margin-top: 20px;
}

#newBurgerFormDiv{
    margin: 0 auto;
    /* border: 2px purple solid; */
}

#ingredientButtonDiv{
    margin: 0 auto;
    /* border: 2px pink solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#displayDiv {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: space-between;
    /* border: 1px red solid; */
    min-height: 250px;
}

.IngredientButtonImage {
    width: 60px;
    padding: 10px;
}

.IngredientButton {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: white;
    border-radius: 8px;

}

.burgerTnButton {
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: white;
    border-radius: 8px;
}

#burgersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#communityHeaderDiv {
    text-align: center;
}

.burgerTitleH3 {
    width: 180;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#burgerDetailsDiv {
    /* border: 1px white solid; */
    margin: 0 auto;
    text-align: center;
}

#burgerIngredientsOl {
    text-align: left;
    width: 200px;
    /* border: 1px black solid; */
    align-self: center;
    margin: 0 auto;
}

#burgerIngredientsDiv {
    margin: 15px;
    /* border: 1px yellow solid; */
}

#burgerCommentList {
    text-align: center;
    width: 300px;
    /* background-color: white; */
    align-self: center;
    margin: 0 auto;
}

#burgerCommentDiv {
    margin: 15px;
    /* border: 1px violet solid; */
}

#pageBreak {
    width: 85%;
    background-color: black;
    height: 2px;
    margin-top: 50px;
}

#communityHeaderDiv {
    margin-top: 50px;
}