/* #mainContainer { 
    text-align: center;
    min-height: 500px;
    margin: 0 auto;
}



.ingredientDiv {
    position: absolute;
    margin: 0 auto;
    border: 1px red solid;
}

#displayDiv {
    position: relative;
    min-height: 500px;
    overflow: visible;
    margin: 0 auto;
    border: 1px red solid;
    width: 400px;
}




#burgersContainer {
    margin: 0 auto;
}

*/

body {
    font-family: "Rubik"
}

#topOfPage {
    text-align: center;
}

#title {
    font-family: "TitanOne";
    font-size: 75px;
    /* letter-spacing: 5px; */
    color: cornflowerblue;
}

.ingredientImage {
    width: 400px;
    /* border: 1px black solid; */
    margin-bottom: -200px;
    /* transform: translateY(-10px) */
}

body {
    background-color: paleturquoise;
}

ul {
    list-style: none;
}

.displayImage {
    width: 400px;
}

#mainContainer {
    margin: 0 auto;
    /* border: 1px green solid; */
    margin-top: 20px;
}

#newBurgerFormDiv{
    margin: 0 auto;
    /* border: 2px purple solid; */
}

#ingredientButtonDiv{
    margin: 0 auto;
    /* border: 2px pink solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#displayDiv {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: space-between;
    /* border: 1px red solid; */
    min-height: 250px;
}

.IngredientButtonImage {
    width: 60px;
    padding: 10px;
}

.IngredientButton {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: white;
    border-radius: 8px;

}

.burgerTnButton {
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: white;
    border-radius: 8px;
}

#burgersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#communityHeaderDiv {
    text-align: center;
}

.burgerTitleH3 {
    width: 180;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#burgerDetailsDiv {
    /* border: 1px white solid; */
    margin: 0 auto;
    text-align: center;
}

#burgerIngredientsOl {
    text-align: left;
    width: 200px;
    /* border: 1px black solid; */
    align-self: center;
    margin: 0 auto;
}

#burgerIngredientsDiv {
    margin: 15px;
    /* border: 1px yellow solid; */
}

#burgerCommentList {
    text-align: center;
    width: 300px;
    /* background-color: white; */
    align-self: center;
    margin: 0 auto;
}

#burgerCommentDiv {
    margin: 15px;
    /* border: 1px violet solid; */
}

#pageBreak {
    width: 85%;
    background-color: black;
    height: 2px;
    margin-top: 50px;
}

#communityHeaderDiv {
    margin-top: 50px;
}

#buildButton {
    background-color: peru;
    border: none;
    width: 180px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0px 15px 0px goldenrod, 0px 20px 0px red, 0px 25px 0px green, 0px 30px 0px gold, 0px 45px 0px saddlebrown, 0px 60px 0px goldenrod ;
    margin-bottom: 75px;
}

.burgerButtonText{
    color: black;
    margin:0;
    font-size: 20px;
    font-family: "TitanOne";
    letter-spacing: 1px;
}

#newBurgerFormDiv {
    /* display: flex; */
    width: 400px;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* border: 1px black solid; */
    margin-bottom: 35px; 
}

#newBurgerUsername {
    display: block;
    border: 1px black solid;
    width: 400px;
    background-color: paleturquoise;
    border-bottom: 1px grey solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
}

#newBurgerTitle {
    display: block;
    border: 1px black solid;
    width: 400px;
    background-color: paleturquoise;
    border-bottom: 1px grey solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
}


#newBurgerDescription {
    display: block;
    border: 1px black solid;
    width: 400px;
    background-color: paleturquoise;
    border-bottom: 1px grey solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 35px;
}

#submitBurgerButton {
    display: block;
    margin: 0 auto;
}

/* :root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(0, 0, 0);
    --colorShadeB: rgb(51, 255, 0);
    --colorShadeC: rgb(226, 175, 80);
    --colorShadeD: rgb(255, 0, 234);
    --colorShadeE: rgb(226, 175, 80);
  }
  
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
  * {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }

  .actionButton {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
      color:var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
  }
  
  button.actionButton {
     padding: 1em 2em;
     border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
  transform-style: preserve-3d;
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  button.actionButton::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
   transform: translate3d(0, 0.75em, -1em);
       transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  
  button.actionButton:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  }
  
  button.actionButton:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  }
  
  button.actionButton:active {
              transform: translate(0em, 0.75em);
  }
  
  button.actionButton:active::before {
    transform: translate3d(0, 0, -1em);
    
        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
  
  } */